@import "tailwindcss";

@theme {
  --color-primary: #2463eb;
  --color-background-light: #f6f6f8;
  --color-background-dark: #111621;
  --color-indigo-accent: #4f46e5;
  --font-display: "Inter", sans-serif;
}